$main-color: rgb(255, 111, 0);
$bg-color: #ebecf2;
$white: #fff;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$light-gray: #ddd;
$black: black;
$btn-color: #ff6f00e1;
$btn-color-hover: #0084ff;
$btn-bg: #0084ff;
$secondary-color: #f30000;
$text-shadow-color: rgb(129, 129, 129);
