$main-color: rgb(255, 111, 0);
$bg-color: #ebecf2;
$white: #fff;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$light-gray: #ddd;
$black: black;
$btn-color: #ff6f00e1;
$btn-color-hover: #0084ff;
$btn-bg: #0084ff;
$btn-dark: #2e2e2e;

$secondary-color: #f30000;
$text-shadow-color: rgb(129, 129, 129);

$section-gradient: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,0,0,1) 50%, rgba(0,212,255,1) 100%);